body {
	font-family: sans-serif;
	margin: 0px;
}

.container {
	max-width: 720px;
	margin: 0 auto;
	text-align: center;
}

.top-view{
	display: grid;
    color: #A8ADB8;
    font-family: ProximaNova, Arial, sans-serif;
    background-color: #fff;
    box-shadow: rgba(0,18,71,.15) 0 0 28px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "home . ." "header header . " "sublinks sublinks sublinks";
}

.top-view__header{
	grid-area: header;
    padding: 20px 20px 0px 40px;
    color: #000021;
    cursor: default;
}

.picture{
	margin: auto;
	display: flex;
	height:auto;
	width: 300px;
}

/*.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}*/
.main-view{

  }
